{
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "globals": {
        "angular": true,
        "THREE": true,
        "requestAnimationFrame": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "semi": 2,
        "quotes": ["error", "single"],
    }
}